.container-fluid{
   padding:20px 0 0 0;
}
/*header*/
.header {
    width: 1200px;
    height: 90px;
    line-height: 90px;
    border-bottom: none;
    background: #fff;
    margin: 0 auto;
}
.header .logo {
    float: left;
    margin: 0px 20px 0 5px;
}
.header ul {
    float: left;
    margin: 0;
    padding: 0;
}
.header ul li a {
    height: 60px;
    width: 150px;
    float: left;
    text-align: center;
    margin: 15px 10px 0 50px;
    padding: 0 2px;
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}
.header ul li a:hover {
    color: purple;
    font-size: 22px;
    font-weight: bold;
}
.header ul li .active {
    color: purple;
    font-size: 22px;
    font-weight: bold;
}
/*header*/

/*content*/
.content {
    width: 85%;
    height: 900px;
    margin: 0 auto;
}
.content .content-center {
    width: 95%;
    height: 800px;
    margin: 0 auto;
}
.content .content-center .btn{
    width:40%;
    margin:10px;
}
/*left*/
.content .content-left {
    /*display: block;*/
    /*display:none;*/
    width: 18%;
    height: 740px;
    float: left;
    border: 1px solid #ccc;
    border-radius: 7px 0 0 7px;
    margin-top: 25px;
}
.content .content-left1{
    width: 25%;
    height: 740px;
    float: left;
    border: 1px solid #ccc;
    border-radius: 7px 0 0 7px;
    margin-top: 25px;
}
.content .content-left .panel-title,.content .content-left1 .panel-title {
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px dashed #a550c0;
}
.content .content-left ul,.content .content-left1 ul{
    text-align: center;
    border-bottom: none;
    height: 670px;
    overflow: auto;
}
.content .content-left1 ul{
    height: 550px;
}
.content .content-left ul li,.content .content-left1 ul li {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width:100%;
    padding: 8px 15px;
}
.content .content-left1 ul li{
    text-align: left;
}
.content .content-left1 ul li span{
    width:8%;
    padding:6px;
    text-align: center;
    float:right;
    cursor: pointer;
}
.content .content-left1 input[type="file"]{
    display: inline-block;
    font-size: 14px;
    padding:5px 10px;
    margin:5px 10px;
    width:190px;
    /*border: 1px solid #ccc;*/
}
.content .content-left1 .upload{
    position:relative;
    padding:20px 0 10px 6%;
    border-bottom:1px #ccc dashed;

}
.content .content-left1 .txt{
    border:1px solid #cdcdcd;
    width:95%;
    height:35px;
    font-size: 15px;
    padding:0 8px;
}
.content .content-left1 .btn{
    width:40%;
    margin:10px 3% 10px 3%;
}
.content .content-left1 .file{ position:absolute;
    top:0;
    right:80px;
    filter:alpha(opacity:0);
    opacity: 0;
    width:40%;
}
.content .content-left1 .upload button{
    width:80%;
    text-align: center;
    margin:0 10%;
}
/*right*/
.content .content-right {
    width: 80%;
    height: 740px;
    text-align: center;
    float: right;
    border: 1px solid #ccc;
    border-radius: 0 7px 7px 0;
    margin-top: 25px;
    overflow: hidden;
    font-size: 16px;
    padding-top:20px;
}
.content .content-right .panel .panel-top {
    text-align: center;
    padding-top:10px;/*border-bottom: dashed 1px #ccc;*/
}
.content .content-right .panel .panel-middle {
    /*border-bottom: dashed 1px #ccc;*/
    /*text-align: center;*/
    padding: 10px 0;
    text-align: left;
    margin-left: 10%;
}
.content .content-right .panel .panel-bottom{
    text-align: center;
}
#code_text_shell{
    height:200px;
}
#res_shell{
    height:330px;
}
#res_sql{
    border-top:1px solid #ccc;
    width: 88%;
    margin:0 6%;
}
.content .content-right .panel .panel-title{
    font-size: 16px;
    font-weight:bold;
    text-align: left;
    margin-left: 8%;
}
.content .content-right .panel .panel-title p{
    display:inline-block;
}
.content .content-right .panel .panel-title .dropdown{
    display:inline-block;
    float:right;
    margin:0 100px 10px 0;
}
.content .content-right .panel .panel-title .dropdown span{
    padding:0 5px;
}
.content .content-right .panel textarea {
    height: 160px;
    width: 85%;
    overflow: auto;
}
.content .content-right .panel .panel-bottom .result_sql {
    height: 380px;
    width:100%;
    overflow: auto;
    padding:0 7%;
}
.content .content-right .panel button {
    width: 80px;
}
.content .content-right .panel a{
    width: 80px;
    float:right;
    margin-right:100px;
}
.content .content-right1 {
    width: 73%;
    height: 740px;
    float: right;
    border: 1px solid #ccc;
    border-radius: 0 7px 7px 0;
    margin-top: 25px;
    overflow: hidden;
    font-size: 16px;
    padding-top:20px;
}
.content .content-right1 .panel .result_mission {
    height: 550px;
    width:100%;
    overflow: auto;
    padding:0 2%;
}
.content .content-right1 table{
    border:1px #ccc solid;
}
.content .content-right1 table td{
    text-align: center;
}
.content .content-right1 .pro{
    padding:10px 10px 5px 10px;
    margin-bottom:20px;
    border-bottom:1px dashed #ccc;
}
.content .content-right1 .pro p{
    width:100px;
    display:inline-block;
    padding:3px 5px;
    text-align: right;
}
.content .content-right1 .pro select{
    width:70%;
    margin-bottom:5px;
}
.content .content-right1 .pro input[type="text"]{
    width:70%;
    margin:0 0 5px 5px;
}
.content .content-right1 .pro .pro-left,.content .content-right1 .pro .pro-right{
    width:50%;
    display:block;
    float:left;
}
.content .content-right1 .pro .pro-right .control{
    margin-left:40%;
}
.content .content-right1 .pro .pro-right .control .btn{
    width:50%;
}
.inactive{
    display: none;
}
/*滚动条*/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar {
    width: 3px;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #a550c0;
}


/*右键菜单*/
#menu_right{
    width:130px;
    display: none;
    position:absolute;
    border: 1px #ccc solid;
    background-color: #FFFFFF;
    box-shadow:3px 3px 8px #ccc;
}
#menu_right ul{
    /*height:150px;*/
    margin-bottom: 2px;
}
#menu_right ul li{
    width:100%;
    padding:3px 0 3px 15px;
    background-color: #FFFFFF;
    font-size: 13px;
    text-align: left;
}
#menu_right ul li:hover{
    background-color: #ccc;
    cursor:default;
}




